.app-container {
  padding-top: 2.5%;
}
.product-list {
  padding-top: 2.5%;
  width: 50%;
  margin: 0 auto;
}

.card-product {
  margin-top: 1%;
  cursor: pointer;
}

.card-product:hover {
  cursor: pointer;
}

.card-product:hover .card-product-img-wrapper img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.card-product:hover .card-product-img-wrapper .button {
  -webkit-transform: translateY(-3rem);
  -ms-transform: translateY(-3rem);
  transform: translateY(-3rem);
}

.card-product-img-wrapper {
  margin-bottom: 1.375rem;
  position: relative;
  overflow: hidden;
}

.card-product-img-wrapper .button {
  transition: all 0.2s ease;
  background-color: #767676;
  padding: 1rem 0.5rem;
  bottom: -3rem;
  -webkit-transform: translateY(3rem);
  -ms-transform: translateY(3rem);
  transform: translateY(3rem);
  position: absolute;
  z-index: 2;
  color: #fefefe;
  margin-bottom: 0;
}

.card-product-img-wrapper .button:hover {
  background-color: #1779ba;
}

.card-product-img-wrapper img {
  transition: all 0.2s ease;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  width: 100%;
}

.card-product-img-wrapper .card-product-name {
  font-size: 1.25rem;
}

.card-product-img-wrapper .card-product-price {
  font-weight: bold;
}
